@model SeyahatWebProje.Models.Siniflar.Yorumlar

@{
    ViewData["Title"] = "Yorum Getir";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M448 32C483.3 32 512 60.65 512 96V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM224 256V160H64V256H224zM64 320V416H224V320H64zM288 416H448V320H288V416zM448 256V160H288V256H448z"></path></svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
        Yorum Güncelle
    </div>

    <div class="card-body">
@using (Html.BeginForm("YorumGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x=>x.ID)
    @Html.TextBoxFor(x=>x.ID, new {@class="form-control", @readonly ="readonly"})
    <br />
    @Html.LabelFor(x=>x.Blogid)
    @Html.TextBoxFor(x=>x.Blogid, new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.KullaniciAdi)
    @Html.TextBoxFor(x=>x.KullaniciAdi, new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Mail)
    @Html.TextBoxFor(x=>x.Mail, new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Yorum)
    @Html.TextAreaFor(x=>x.Yorum,15,1, new {@class="form-control"})
    <br />
    <button class="btn btn-success">Kaydet</button>
}
    </div>
</div>
